// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input[type=file]

color:transparent

ul.choose_step
	margin-top: 15px
	margin-left: -30px
.step .content
	float: left
	display: none

.bg-color
	background-color: white

input #card_picture 
	border: none

.content input
	border-color: #cccccc
	font-size: 14px
	text-align: left
	border-width: 1px
	width: 100%
	border-radius: 5px
	border-style: solid
	padding: 5px
	margin-bottom: 5px
	color: #b8b8b8

ul.choose_step li.active a
	color: #b7d762
	font-weight: bold
	font-size: 1.5em

.choose_step li a 
	color: grey
	font-weight: normal
	font-size: 1em

.choose_step li
	display: inline
	margin-right: 8px

.step.show .content
	display: block
	opacity: 1

.content
	width: 250px
	height: 400px
	box-shadow: 0 0 7px 1px #e2e2e2
	background-color: white
	padding: 10px
	border: 1px solid rgb(205, 205, 205)

.knoppen
	width: 200px
	height: 50px
	
	a.prev
		float: left
	a.next
		float: right

.card
	float: left
	margin-left: 25px
	display: inline
	height: 622px
	width: 439px
	box-shadow: 0 0 7px 1px #e2e2e2 !important
	background-color: white
	overflow: auto
	overflow-y:hidden
	overflow-x:hidden

.upload-preview
	position:relatie
	height: 622px
	width: 439px

img
	width: 100%
	height: 100%

<<<<<<< HEAD
p.poem1
	text-align: center
	margin-top: 90px

p.announcement1  
	text-align: center

h2.last_name1 
	text-align: center

h2.first_name1 
	text-align: center

.draggable
	cursor: move

=======
.custom-file-input::-webkit-file-upload-button
	visibility: hidden

.custom-file-input::before 
	content: 'Kies bestand'
	display: inline-block
	background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3)
	border: 1px solid #999
	border-radius: 3px
	color: black
	padding: 5px 8px
	outline: none
	white-space: nowrap
	-webkit-user-select: none
	cursor: pointer
	font-size: 10pt

.custom-file-input:hover::before 
	border-color: black
>>>>>>> FETCH_HEAD

.custom-file-input:active::before
	background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9)
