// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input[type=file]

color:transparent

ul.choose_step
	margin-top: 15px
	margin-left: -30px

.editfunctions
	background-color: #eaeaea
	margin: 0 auto
	margin-top: 0px
	border-bottom-left-radius: 5px
	border-bottom-right-radius: 5px
	opacity: 1
	padding: 10px
	width: 90%

.step .content
	float: left
	display: none

#canvas
	width: 439px
	height: 622px

.bg-color
	background-color: white

input #card_picture 
	border: none

ul.choose_step li.active a
	color: #b7d762
	font-weight: bold
	font-size: 1.5em

.choose_step li a 
	color: grey
	font-weight: normal
	font-size: 1em

.choose_step li
	display: inline
	margin-right: 8px

.step.show .content
	display: block
	opacity: 1

.content
	width: 250px
	height: 622px
	box-shadow: 0 0 7px 1px #e2e2e2
	background-color: white
	padding: 10px
	border: 1px solid rgb(205, 205, 205)

.knoppen
	width: 200px
	height: 50px
	
	a.prev
		float: left
	a.next
		float: right

.card.show 
	display: block
	opacity: 1

#resizable
	height: auto

.cardright.show 
	display: block
	opacity: 1

.name1
	text-align: center

.birthplace1
	float: left
	margin: 0px !important

.lastresidence1
	float: right
	margin: 0px !important

.birthday1
	float: left
	margin: 0px !important

.deceasedon1
	float: right
	margin: 0px !important

.signed1
	float: right

.parting_information1
	float: left

.card
	float: left
	display: none !important
	margin-left: 12px
	display: inline
	height: 622px
	width: 439px
	box-shadow: 0 0 8px 2px #e2e2e2 !important
	background-color: white
	overflow: hidden 
	transition: opacity .25s ease-in-out
	-moz-transition: opacity .25s ease-in-out
	-webkit-transition: opacity .25s ease-in-out



.cardright
	display: none
	height: 622px
	width: 439px
	box-shadow: 3px 0px 8px 2px #e2e2e2 !important
	background-color: white
	overflow: hidden
	transition: opacity .25s ease-in-out
	-moz-transition: opacity .25s ease-in-out
	-webkit-transition: opacity .25s ease-in-out
	padding-left: 20px
	padding-right: 20px
	padding-top: 10px
	padding-bottom: 10px

.draggable
	cursor: move

.resizable 
	height: auto !important

#canvas img
	width: 100%
	height: 100%

p.poem1
	text-align: center
	word-wrap: break-word !important


p.announcement1  
	text-align: center

h2.last_name1 
	text-align: center

h2.first_name1 
	text-align: center

p.input_front1
	position: absolute
	z-index: 1

.custom-file-input::-webkit-file-upload-button
	visibility: hidden

.custom-file-input::before 
	content: 'Kies bestand'
	display: inline-block
	background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3)
	border: 1px solid #999
	border-radius: 3px
	color: black
	padding: 5px 8px
	outline: none
	white-space: nowrap
	-webkit-user-select: none
	cursor: pointer
	font-size: 10pt

.custom-file-input:hover::before 
	border-color: black

.custom-file-input:active::before
	background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9)

#canvas
	width: 439px
	height: 622px
	overflow: hidden
	position: absolute

.element
	width: 100px
	background: red
.image
	position: absolute !important

.element2
	width: 100px
	background: pink
	position: absolute !important
.element3
	width: 100px
	background: green
	position: absolute !important

#Image-Maps-Com-image-maps-2014-11-26-053858
	background: image-url("Mapnederland.png")

.ui-resizable
	width: 200px
	height: auto

#canvas .ui-resizable-se
	background: none
	background-image: image-url("resizebutton.png")
	width: 20px !important
	height: 20px !important
	bottom: -10px !important
	right: -10px !important

.delete-button
	
	position: absolute
	width: 20px
	height: 20px
	right: -10px
	top: -10px
	cursor: pointer

.ui-resizable-ne
	background: image-url("delete.png")
	position: absolute !important
	width: 20px !important
	height: 20px !important
	right: -10px !important
	top: -10px !important
	cursor: pointer !important

 
#menu
	cursor: pointer
	position: absolute
	z-index: 10


#thumb
	margin-top: 25px
	width: 228px
	color: #000
	box-shadow: 0 0 10px #CCC
	z-index: 9999
	border: solid #CCC 1px
	overflow: hidden
	position: absolute 
	display: none
	padding: 5
	list-style: none

#thumb ul
	list-style: none
	margin: 0
	 

#thumb img
	float: left
	padding: 4px
	border: solid #666 0
	cursor: pointer
	width: 112px
	height: 50px
	cursor: pointer




 
