// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a.btn.btn-primary
  background-color: #b9404c
  border: none
  float: center

.thumbnail
  border-radius: 0
  

.thumbnail h3
  margin-top: 10px
  text-align: center
  font-size: 1,5em
  font-family: Verdana, Geneva, sans-serif
  letter-spacing: 1px

.thumbnail h3 a
  color: #b7d762 !important

.thumbnail p
  text-align: center
  font-size: 1.2em
  color: #797878

.thumbnail .btn-primary
  margin: 0 auto
  display: table
  margin-top: 30px

p.poem
  font-size: 18px  
  text-align: center

.card-background
  position: relative
  width: 100%

.text-card
  position: absolute
  top: 200px
  color: white
  text-shadow: 0px 0px 2px #000
.jumbotron
  background-color: white !important
  border-radius: 0px !important
  -webkit-box-shadow: 0 0 7px 1px rgba(226, 226, 226, 1)
  box-shadow: 0 0 7px 1px rgba(226, 226, 226, 1)
  h2.name
  text-align: center

p.announcement 
  font-size: 18px 
  text-align: center

p.dates
  font-size: 18px 
  letter-spacing: 1px
  text-align: center
  margin-bottom: 50px

p.funeral
  font-size: 16px
  text-align: justify

p.place
  margin-bottom: 75px
  font-size: 18px

p.signed
  font-size: 18px 
  width: 200px
  height: auto
  float: right